<app-header2></app-header2>
  <section class="solicitud-head">
    <section class="solicitud-back" onclick="history.back()">
      <img
        src="../images/back.png"
        alt="Icono regresar"
        class="solicitud-icon"
      />
      <span class="solicitud-back-text">Regresar</span>
    </section>
    <nav class="solicitud-breadcrumb">
      <a routerLink="/">Hacer Petición</a>
    </nav>
  </section>

  <section class="solicitud-container">
    <form class="solicitud-form">
      <h3 class="solicitud-titulo">Solicitar Ayuda</h3>

      <label for="nombre" class="solicitud-label">Nombre Petición</label>
      <input type="text"  id="nombre" name="nombre" [(ngModel)]="NuevaPeticion.nombre_peticion" class="solicitud-input" />

      <label for="Descripcion" class="solicitud-label">Descripción</label>
      <input type="text" id="Descripcion" name="descripcion" [(ngModel)]="NuevaPeticion.desc_peticion" class="solicitud-input" />

      <label for="Tdonacion" class="solicitud-label">Tipo de donación</label>
      <select id="Tdonacion" [(ngModel)]="NuevaPeticion.categoriaId" name="Tipo" (change)="CategoriaPeticion()" class="solicitud-input-t">
        <option value="">Seleccione...</option>
        <option value="1">Objeto</option>
        <option value="2">Dinero</option>
      </select>

      <section *ngIf= "mostrarDireccion">
        <label for="Direccion" class="solicitud-label">Dirección</label>
        <input type="text" name="direccion" id="Direccion" [(ngModel)]="NuevaPeticion.direccion" class="solicitud-input" />
      </section>

      <section *ngIf="!mostrarDireccion">
        <label for="nequi" class="solicitud-label">Número de Nequi</label>
        <input type="number" name="nequi" id="nequi" [(ngModel)]="NuevaPeticion.nequi" class="solicitud-input" />
      </section>

      <label for="cantidad" class="solicitud-label">NCantidad</label>
      <input type="number" name="cantidad" id="cantidad" [(ngModel)]="NuevaPeticion.cantidad_peticion" class="solicitud-input" />

      <section class="solicitud-botones">
        <button type="button" class="btn-cancelar">Cancelar</button>
        <button type="submit" (click)="crearPeticion()" class="btn-enviar">Enviar</button>
      </section>
    </form>
  </section>

  <!-- <section class="content">
    <article class="contenido">
      <header class="header"><h1>Solicitar Ayuda</h1></header>
      <section class="cajas">
        <section class="caja">
          <label for="nombre" class="text">Nombre peticion</label> <br />
          <input id="nombre" [(ngModel)]="NuevaPeticion.nombre_peticion" type="text" class="input" />
        </section>
        <section class="caja">
          <label for="descripcion" class="text">descripción</label> <br />
          <input [(ngModel)]="NuevaPeticion.desc_peticion" type="text" class="input" />
        </section>
        <section class="caja">
          <label for="Tipo" class="text">Tipo</label> <br />
          <select
            [(ngModel)]="NuevaPeticion.categoriaId"
            name="Tipo"
            id="Tipo"
            class="input"
            (change)="CategoriaPeticion()"
          >
            <option value="1">Objeto</option>
            <option value="2">Dinero</option>
          </select>
        </section>
        <section class="caja" *ngIf="mostrarDireccion">
          <label for="direccion" class="text">Dirección</label> <br />
          <input [(ngModel)]="NuevaPeticion.direccion" type="text" class="input" />
        </section>
        <section class="caja" *ngIf="mostrarDireccion == false">
          <label class="text" for="nequi">Numero de nequi</label><br>
          <input class="input" type="number" [(ngModel)]="NuevaPeticion.nequi" name="nequi">
        </section>
        <section class="caja">
          <label for="cantidad" class="text">Cantidad</label> <br />
          <input [(ngModel)]="NuevaPeticion.cantidad_peticion" type="number" class="input" />
        </section>
        <section class="botones">
          <figure class="btn1"><button class="cancelar">Cancelar</button> <br /></figure>
          <figure class="btn2">
            <button (click)="crearPeticion()" class="enviar">Enviar</button>
          </figure>
        </section>
      </section>
    </article>
  </section> -->
<!-- </section> -->
<app-footer></app-footer>
