<app-header2></app-header2>
<section class="principal">
  <section class="volver">
    <section class="icon">
      <a routerLink="/inicio"><i class="bi bi-arrow-left-circle-fill"></i></a>
      <h3 class="back">Regresar</h3>
    </section>
    <section class="texto">
      <p><a routerLink="/inicio">Inicio</a>/<a routerLink="donacion">Hacer petición</a></p>
    </section>
  </section>

  <section class="content">
    <article class="contenido">
      <header class="header"><h1>Solicitar Ayuda</h1></header>
      <section class="cajas">
        <section class="caja">
          <label for="nombre" class="text">Nombre peticion</label> <br />
          <input id="nombre" [(ngModel)]="NuevaPeticion.nombre_peticion" type="text" class="input" />
        </section>
        <section class="caja">
          <label for="descripcion" class="text">descripción</label> <br />
          <input [(ngModel)]="NuevaPeticion.desc_peticion" type="text" class="input" />
        </section>
        <section class="caja">
          <label for="Tipo" class="text">Tipo</label> <br />
          <select
            [(ngModel)]="NuevaPeticion.categoriaId"
            name="Tipo"
            id="Tipo"
            class="input"
            (change)="CategoriaPeticion()"
          >
            <option value="1">Objeto</option>
            <option value="2">Dinero</option>
          </select>
        </section>
        <section class="caja" *ngIf="mostrarDireccion">
          <label for="direccion" class="text">Dirección</label> <br />
          <input [(ngModel)]="NuevaPeticion.direccion" type="text" class="input" />
        </section>
        <section class="caja" *ngIf="mostrarDireccion == false">
          <label class="text" for="nequi">Numero de nequi</label><br>
          <input class="input" type="number" [(ngModel)]="NuevaPeticion.nequi" name="nequi">
        </section>
        <section class="caja">
          <label for="cantidad" class="text">Cantidad</label> <br />
          <input [(ngModel)]="NuevaPeticion.cantidad_peticion" type="number" class="input" />
        </section>
        <section class="botones">
          <figure class="btn1"><button class="cancelar">Cancelar</button> <br /></figure>
          <figure class="btn2">
            <button (click)="crearPeticion()" class="enviar">Enviar</button>
          </figure>
        </section>
      </section>
    </article>
  </section>
</section>
<app-footer></app-footer>
