.registro-contenedor {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background: #ffffff; 
}

.registro-form {
  background: #e67e22; 
  padding: 3rem;
  border-radius: 25px;
  width: 400px;
  text-align: center;
  color: white;
}

.registro-titulo {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.registro-logo {
  width: 80px;
  margin: 0 auto 1rem auto;
  display: block;
}

.registro-label {
  display: block;
  text-align: left;
  margin-top: 1rem;
  font-weight: bold;
  font-size: 0.9rem;
}

.registro-input {
  width: 100%;
  border: none;
  border-bottom: 3px solid white;
  background: transparent;
  padding: 0.5rem;
  margin-top: 0.3rem;
  color: white;
  outline: none;
  font-size: 0.95rem;
}

.registro-input:hover {
  box-shadow: 3px 2px 10px #f0e5d8;
}

.registro-input:focus {
  box-shadow: 3px 5px 10px #f0e5d8;
}

.registro-input::placeholder {
  color: #f0e5d8; 
}

.registro-btn {
  margin-top: 2rem;
  background: white;
  color: #e67e22;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
}

.registro-btn:hover {
  background: #f4f4f4;
  transform: translateY(-2px);
}

.registro-texto {
  margin-top: 1.2rem;
  font-size: 0.9rem;
  color: black;
  font-weight: bold;
}

.registro-link {
  display: block;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.registro-link:hover {
  text-decoration: underline;
}
