.principal {
  padding: 20px;
}

.volver {
  display: flex;
  flex-direction: row;
}

.icon {
  i {
    font-size: 40px;
    color: rgb(255, 135, 55);
  }
}

.back {
  color: rgb(255, 135, 55);
  font-weight: 600;
  font-size: 25px;
}

.texto {
  flex: 1;
  display: flex;
  justify-content: end;
  color: rgb(255, 135, 55);
  font-weight: 600;
}
.contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  font-size: 25px;
  margin: 30px 0;
}

.caja {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 1px solid thistle;
  padding: 10px 0;
  box-shadow: 0 0 10px slategray;
}

.donacion {
  font-size: 25px;
}

.boton {
  display: inline-block;
  justify-content: space-around;
}

.btn {
  padding: 15px 60px;
  margin-left: 30px;
  border: none;
  background-color: rgb(255, 135, 55);
  border-radius: 16px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  transition: all 0.3s ease;
}

.btn:hover {
  transform: translateY(-2px);
  cursor: pointer;
  box-shadow: 2px 2px 10px slategray;
}

.btn:active {
  transform: translateY(2px);
  box-shadow: 2px 2px 10px slategray;
}
