<header class="contenedor-header">
  <section class="container-logo">
    <img src="images/logo-sin-nombre-fondo-blanco2.png" alt="Logo AidLink" class="logo-icon" />
    <img src="images/aidLink-fondo-blanco2.png" alt="Texto AidLink" class="logo-text" />
  </section>
  <nav class="container-menu">
    <ul>
      <li class="cajas"><a routerLink="/" class="text">INICIO</a></li>
      <li class="cajas"><a routerLink="/nosotros" class="text">NOSOTROS</a></li>
      <li><button class="ingreso"><a routerLink="/ingresar" class="ingresar">Ingresar</a></button></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</header>
