*{
  font-family: 'Poppins', sans-serif;
}

.contenedor-header {
  width: 93%;
  display: flex;
  flex-direction: row;
  border-bottom: 3px solid #f28c38;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
}

.container-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 30px;
}

.container-menu ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 30px;
}

.ingreso {
  border: none;
  font-weight: 500;
  padding: 10px 25px;
  border-radius: 10px;
  background-color: #f28c38;
  color: white;
  font-size: 15px;
  font-weight: 600;
  margin-top: 18px;
}

.ingreso:hover{
    transform: translateY(-2px);
}

.ingresar{
  margin-top: 26px;
}

.cajas {
  padding: 15px 22px;
  margin-top: 10px;
  font-weight: 600;
}

.text{
  color: black;
}

.container-logo {
  flex: 1;
}

.logo-text {
  height: 30px;
  width: 10%;
}
.logo-icon {
  height: 40px;
  width: 6%;
}

a{
  text-decoration: none;
}