.principal {
  padding: 20px;
}

.volver {
  display: flex;
  flex-direction: row;
}

.icon {
  i {
    font-size: 40px;
    color: rgb(255, 135, 55);
  }
}

.back {
  color: rgb(255, 135, 55);
  font-weight: 600;
  font-size: 25px;
}

.texto {
  flex: 1;
  display: flex;
  justify-content: end;
  color: rgb(255, 135, 55);
  font-weight: 600;
}

.content {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.contenido {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(219, 219, 219);
  box-shadow: 0 0 8px thistle;
  border-radius: 80px;
  width: 800px;
  height: 900px;
}

.header {
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 30px 0 60px 0;
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
}

.cajas {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 0 100px;
}

.caja {
  margin-bottom: 25px;
  width: 100%;
}

.text {
  font-size: 25px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.input {
  margin-top: 10px;
  width: 100%;
  padding: 10px 0px 5px 0px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  outline: none;
  border-radius: 16px;
  font-family: 'Poppins', sans-serif;
}

.botones{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.btn{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}