/* Inicio o Menu  */
.contenido{
  padding: 50px 0;
}
/* Título */
.acciones-titulo {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 2rem;
  margin-bottom: 70px;
}

/* Contenedor en grid */
.acciones-contenedor {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas */
  gap: 2rem;
  max-width: 800px;
  
  margin: 0 auto 4rem auto;
}

/* Tarjeta */
.accion-card {
  background: #fff;
  border-radius: 20px;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
  transition: transform 0.2s ease;
  max-width: 300px;
  

}

.accion-card:hover {
  transform: translateY(-5px);
}

/* Íconos */
.accion-icono {
  width: 80px;
  height: 80px;
  margin-bottom: 1rem;
}

/* Título de cada card */
.accion-titulo {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Botón */
.accion-boton {
  background: #e67e22;
  color: white;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.accion-boton:hover {
  background: #e46b00;
}